<h2>Angular 2 Single Page Aplication</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/register']" class="btn btn-primary">
                            New Photo
                        </a>
                    </span>
                    <!-- campo para filtrar pelo titulo -->
                    <input #textFilter (keyup)="0" class="form-control" placeholder="filter photo title">
                </div>
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <br>
    <div class="row">
        <panel class="col-md-2" *ngFor="let photo of photos | titleFilter: textFilter.value" [title]="photo.titulo | uppercase">
            <photo url="{{photo.url}}" title="{{photo.titulo}}"></photo>
        </panel>
    </div>
</div>