<h2>Photo register</h2>
<div class="container">
    <h1 class="text-center">{{photo.title}}</h1>
    <form [formGroup]="myForm" name="myForm" class="row" (submit)="registerPhoto($event)">
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <input name="title" [(ngModel)]="photo.title" class="form-control"  autocomplete="off"  formControlName="title">
                <div *ngIf="myForm.controls.title.invalid">
                    <span *ngIf="myForm.controls.title.errors.required" class="form-control alert-danger" >
                        Title required
                    </span>
                    <span *ngIf="myForm.controls.title.errors.minlength" class="form-control alert-danger" >
                        Title length min is 4 characters
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input name="url" [(ngModel)]="photo.url" class="form-control"  autocomplete="off" formControlName="url">
                <span *ngIf="myForm.controls.url.invalid" class="form-control alert-danger" >
                    URL required
                </span>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea name="description" [(ngModel)]="photo.description" class="form-control"  autocomplete="off" formControlName="description">
                </textarea>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
                Salvar
            </button>
            <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
        </div>
        <div class="col-md-6">
            <photo [url]="photo.url" [title]="photo.title"></photo>
        </div>
    </form>
</div>